/*menu valikon tyylin määritys*/
.menu {
    background-color: #250A0A;
    display: flex;
    justify-content: space-evenly; /*asettaa kuvakkeet tasaisin välein*/
    max-height: 3em;
    min-height: 3em;
    align-items: center; /*keskittää tasaisesti kuvakkeet pituus- ja korkeussuunnassa*/
  }