.content {  /*määritellään ulkoasua siten, että sisältö kulkee sujuvasti ylä- ja alareunojen mukaisesti*/
    overflow-y: scroll;        /*vieritysominaisuuden lisäys pystysuuntaisesti, ilman y:tä ottaa myös alaosan*/
    -webkit-overflow-scrolling: touch;     /*kosketusominaisuuden lisäys*/
    position: relative;
    /*border: 3px solid red; oli käytössä reunojen testauksessa*/
}
  /*määritellään vierityspalkin ominaisuuksia kohdat 7-17 otka kuuluvat contenttiin*/
::-webkit-scrollbar {
    width: 0.5em;
}
  
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.0); 
}
  
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1); 
}