.tehtavalista {
    padding: 1em;
    border-bottom: 1px solid #C8B2B2;
}
  
.tehtavalista__rivi {
    display: flex;
    justify-content: space-between;
}
  
.tehtavalista__tyyppi, .tehtavalista__paivat {
    font-weight: bold;
}

.tehtavalista__takaraja, .tehtavalista__ajanjakso, 
.tehtavalista__tila, .tehtavalista__prosentti {
    font-size: 85%;
    color: #666;
}