.tehtavalista {
    border-bottom: 1px solid #C8B2B2;
    display: flex;
}
  
.tehtavalista__rivi {
    display: flex;
    justify-content: space-between;
}
  
.tehtavalista__tyyppi, .tehtavalista__paivat {
    font-weight: bold;
}

.tehtavalista__takaraja, .tehtavalista__ajanjakso, 
.tehtavalista__tila, .tehtavalista__prosentti {
    font-size: 85%;
    color: #666;
}

.tehtavalista > div {
    flex: 1 1 auto;
    padding: 1em;
}

.tehtavalista__linkki {
    max-width: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.tehtavalista:hover .tehtavalista__linkki {
    display: flex;
}

.kulukortti__linkki a {
    color: #000;
}