@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');


* {
  margin: 0; /*poistaa marginaalista ja paddingista oletust채ytteet*/
  padding: 0;
}

/*ulkoasun m채채rittely채*/
.App {
  max-width: 30em;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Merriweather', serif;
  background-color: paleturquoise;
  transform: translateZ(0);
}

.App > * {
  flex: 1 1 auto;
}

.app_welcome {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateZ(0);
}


