.settings {
    padding: 2em;
}

.settings h3 {
    margin-top: 0.5em;
}

.settings__items {
    padding: 0.5em;
    font-size: 1.1rem;;
}

.settings__items > div { 
    padding: 0.3rem;
}

.settings__items > div:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
}

.settingsForm {
    display: flex;
    margin-top: 0.5em;
}

.settingsForm input {
    margin-top: 0.2em;
    flex: 1 1 auto;
    padding: 0.5em;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 1em;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    outline: none;
}

.settings__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__userdata {
    display: flex;
    align-items: center;
}

.settings__userdata img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin: 0.5em;
}